{% extends "base.html" %}
{% block cuerpo %}
<h3>Concursos</h3>
<div class="row">
	<div class="col-lg-10">
		
	</div>
</div>
<hr/>

<form>
{{form}}

<input type="submit">
</form>

<script type="text/javascript" charset="utf-8">
$('#tabla').dataTable( {
  "ordering": false
} );
</script>
<div id="popup" class="modal fade" role="dialog"></div>
<script>

function abrir_modal(url)
{
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        return false;
}

function cerrar_modal()
{
        $('#popup').modal('hide');
        return false;
}



</script>
{% endblock cuerpo %}
